<h1>Customers</h1>
<%= render @customers %>
<%= link_to 'View Alphabetized Customers', customers_alphabetized_path %>
<%= link_to 'View Customers with Missing Emails', customers_missing_email_path %>
